node_modules
npm-debug.log
dist
coverage
.env
.env.local
.env.*.local
*.log
.git
.gitignore
.vscode
.idea
README.md
.prettierrc
.prettierignore
eslint.config.ts
vitest.config.ts
prueba.txt
__tests__
src/__tests__
.editorconfig
